*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    perspective: 1000px;
    background: rgba(137, 171, 227, .5);
}

.container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
}

.profile{
    padding: 60px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0 50px rgba(0,0,0,0.2);
    border-radius: 5px;
    transform-style: preserve-3d;
    color: #167f7f;
    background: rgba(252, 246, 245, .8);
}

.name{
    text-align: center;
    padding: 20px;
    transition: all 0.5s ease-out;
}

.image{
    text-align: center;
    transition: all 0.5s ease-out;
}

.image img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.description{
    transition: all 0.5s ease-out;
}

h2, h3{
    font-weight: normal;
}

.tip{
    position: absolute;
    top: 15px;
    opacity: .3;
}